* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'PT Mono', monospace;
  font-size: 40px;
  line-height: 45px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #54a2e5;
}

.container {
  width: 90%;
  max-width: 570px;
  margin: 0 auto;
}

.main {
  padding-top: 100px;
  padding-bottom: 50px;
}

.main__city {
  margin-bottom: 50px;
}

.main__city-name {
  cursor: pointer;
}

.main__city-input {
  font-size: 40px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}

.main__weather {
  margin-bottom: 50px;
}

.main__temperature {
  font-size: 64px;
  line-height: 72px;
  margin-right: 20px;
}

.main__icon {
  width: 100px;
  height: 100px;
}

.main__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.d-none {
  display: none;
}

@media (max-width: 768px) {
  body {
    font-size: 32px;
    line-height: 36px;
  }
  .main__city {
    margin-bottom: 40px;
  }
  .main__temperature {
    font-size: 40px;
    line-height: 45px;
  }
  .main__wrapper {
    margin-bottom: 10px;
  }
  .main__weather {
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 24px;
    line-height: 28px;
  }
  .main {
    padding-top: 30px;
  }
  .main__city {
    margin-bottom: 35px;
  }
  .main__temperature {
    font-size: 32px;
    line-height: 36px;
  }
  .main__icon {
    width: 80px;
    height: 80px;
  }
  .main__wrapper {
    margin-bottom: 10px;
  }
  .main__weather {
    margin-bottom: 35px;
  }
}
